# Pyenv version file
/.python-version

# Chart artifacts
/charts/*.tgz
/charts/*/charts
/charts/*/requirements.lock

# Build & test artifacts
/.cache
/.eggs
/.helm-pid
/.pytest_cache
/.tox
/build
/conformance
/promenade.egg-info

# Python artifacts
__pycache__

# Sphinx artifacts
/doc/build/
/doc/source/.doctrees/
/doc/*/_static/
/AUTHORS
/ChangeLog

# Additional gate artifacts
.fiotest

# virtualenv
.venv
venv/
ENV/

# pycharm-ide
.idea/
