__pycache__
/*.log
/*.tar
/.vagrant
/cni.tgz
/env.sh
/helm
/kubectl
/kubelet
/linux-amd64
/genesis_image_cache/
/join_image_cache/
/promenade.egg-info
/tmp
.tox/
ChangeLog

# Sphinx documentation
docs/build/
docs/*/_static/
