beaker==1.9.1
click==6.7
falcon==1.2.0
jinja2==2.9.6
jsonpath-ng==1.4.3
jsonschema==2.6.0
keystoneauth1==3.2.0
keystonemiddleware==4.17.0
kubernetes==3.0.0
oslo.context==2.19.2
oslo.policy==1.22.1
pastedeploy==1.5.2
pbr==3.0.1
pyyaml==3.12
requests==2.18.4
uwsgi==2.0.15
git+https://git.openstack.org/openstack/airship-deckhand@0b5aa2e98a1ab5ab8a58c9dec3c1f88ef00d17a9
