alembic==1.0.0
amqp==2.3.2
asn1crypto==0.24.0
attrs==18.2.0
Babel==2.6.0
Beaker==1.9.1
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cliff==2.13.0
cmd2==0.9.4
colorama==0.3.9
contextlib2==0.5.5
cryptography==2.3.1
debtcollector==1.20.0
git+https://git.openstack.org/openstack/airship-deckhand@0b5aa2e98a1ab5ab8a58c9dec3c1f88ef00d17a9
decorator==4.3.0
deepdiff==3.3.0
dnspython==1.15.0
dogpile.cache==0.6.7
eventlet==0.24.1
extras==1.0.0
falcon==1.2.0
fasteners==0.14.1
fixtures==3.0.0
flake8==2.6.2
futurist==1.7.0
google-auth==1.5.1
greenlet==0.4.15
hacking==1.1.0
idna==2.6
ipaddress==1.0.22
iso8601==0.1.12
Jinja2==2.9.6
jsonpath-ng==1.4.3
jsonpickle==1.0
jsonschema==2.6.0
keystoneauth1==3.2.0
keystonemiddleware==4.17.0
kombu==4.2.1
kubernetes==3.0.0
linecache2==1.0.0
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.5.3
monotonic==1.5
msgpack==0.5.6
netaddr==0.7.19
netifaces==0.10.7
networkx==2.1
oslo.cache==1.30.1
oslo.concurrency==3.27.0
oslo.config==6.4.0
oslo.context==2.19.2
oslo.db==4.40.0
oslo.i18n==3.21.0
oslo.log==3.39.0
oslo.messaging==8.1.0
oslo.middleware==3.36.0
oslo.policy==1.22.1
oslo.serialization==2.27.0
oslo.service==1.32.0
oslo.utils==3.37.0
Paste==2.0.3
PasteDeploy==1.5.2
pbr==3.0.1
ply==3.11
positional==1.2.1
prettytable==0.7.2
psycopg2==2.7.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycadf==2.8.0
pycodestyle==2.0.0
pycparser==2.19
pyflakes==1.2.3
pyinotify==0.9.6
pyparsing==2.2.1
pyperclip==1.6.4
python-barbicanclient==4.7.0
python-dateutil==2.7.3
python-editor==1.0.3
python-keystoneclient==3.17.0
python-memcached==1.59
python-mimeparse==1.6.0
pytz==2018.5
PyYAML==3.12
repoze.lru==0.7
requests==2.18.4
rfc3986==1.1.0
Routes==2.4.1
rsa==4.0
six==1.11.0
SQLAlchemy==1.2.12
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
statsd==3.3.0
stevedore==1.29.0
Tempita==0.5.2
tenacity==5.0.2
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.23
uWSGI==2.0.15
vine==1.1.4
wcwidth==0.1.7
WebOb==1.8.2
websocket-client==0.40.0
Werkzeug==0.14.1
wrapt==1.10.11
