Babel==2.5.3
Jinja2==2.9.6
Mako==1.0.7
MarkupSafe==1.0
Paste==2.0.3
PasteDeploy==1.5.2
PyYAML==3.12
Routes==2.4.1
SQLAlchemy==1.2.6
Tempita==0.5.2
WebOb==1.8.0
Werkzeug==0.14.1
alembic==0.9.9
amqp==2.2.2
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
cliff==2.11.0
cmd2==0.8.2
contextlib2==0.5.5
debtcollector==1.19.0
decorator==4.2.1
dogpile.cache==0.6.5
enum-compat==0.0.2
eventlet==0.20.0
extras==1.0.0
falcon==1.2.0
fasteners==0.14.1
fixtures==3.0.0
flake8==2.5.5
futurist==1.6.0
git+https://github.com/att-comdev/deckhand.git@c962eeb975af5ecf9793f794d536538d210b7735#egg=deckhand
google-auth==1.4.1
greenlet==0.4.13
hacking==1.0.0
idna==2.6
ipaddress==1.0.19
iso8601==0.1.12
jsonpath-ng==1.4.3
jsonschema==2.6.0
keystoneauth1==3.2.0
keystonemiddleware==4.17.0
kombu==4.1.0
kubernetes==3.0.0
linecache2==1.0.0
mccabe==0.2.1
monotonic==1.4
msgpack==0.5.6
netaddr==0.7.19
netifaces==0.10.6
networkx==2.1
oslo.cache==1.30.0
oslo.concurrency==3.26.0
oslo.config==6.0.1
oslo.context==2.19.2
oslo.db==4.35.0
oslo.i18n==3.20.0
oslo.log==3.37.0
oslo.messaging==6.0.0
oslo.middleware==3.35.0
oslo.policy==1.22.1
oslo.serialization==2.25.0
oslo.service==1.30.0
oslo.utils==3.36.0
pbr==3.0.1
pep8==1.5.7
ply==3.11
positional==1.2.1
prettytable==0.7.2
psycopg2==2.7.4
pyasn1-modules==0.2.1
pyasn1==0.4.2
pycadf==2.7.0
pyflakes==0.8.1
pyinotify==0.9.6
pyparsing==2.2.0
pyperclip==1.6.0
python-barbicanclient==4.6.0
python-dateutil==2.7.2
python-editor==1.0.3
python-keystoneclient==3.15.0
python-memcached==1.59
python-mimeparse==1.6.0
pytz==2018.3
repoze.lru==0.7
requests==2.18.4
rfc3986==1.1.0
rsa==3.4.2
six==1.11.0
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
statsd==3.2.2
stevedore==1.28.0
tenacity==4.9.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
traceback2==1.4.0
uWSGI==2.0.15
unittest2==1.1.0
urllib3==1.22
vine==1.1.4
websocket-client==0.40.0
wrapt==1.10.11
