[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs/admin/kubelet/

[Service]
ExecStart=/usr/local/bin/kubelet \
    --allow-privileged=true \
    --cluster-dns={{ config['Network']['cluster_dns'] }} \
    --cluster-domain={{ config['Network']['cluster_domain'] }} \
    --cni-bin-dir=/opt/cni/bin \
    --cni-conf-dir=/etc/cni/net.d \
    --hostname-override={{ config['Node']['hostname'] }} \
    --kubeconfig=/etc/kubernetes/kubelet/kubeconfig.yaml \
    --network-plugin=cni \
    --node-ip={{ config['Node']['ip'] }} \
    --node-labels={{ config['Node']['labels'] | join(',') }} \
    --pod-manifest-path=/etc/kubernetes/kubelet/manifests \
    --require-kubeconfig=true \
    --v=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
