[Unit]
Description=Kubernetes Worker Process
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/kubernetes/bin/kubelet \
    --config=/etc/kubernetes/kubelet/config.yaml \
    --hostname-override={{ config.get_first('Genesis:hostname', 'KubernetesNode:hostname') }} \
    --kubeconfig=/etc/kubernetes/kubeconfig \
    --node-ip={{ config.get_first('Genesis:ip', 'KubernetesNode:ip') }} \
    {%- if config['Genesis:labels.static'] is defined %}
    --node-labels={{ config['Genesis:labels.static'] | join(',') }} \
    {%- elif config['KubernetesNode:labels.static'] is defined %}
    --node-labels={{ config['KubernetesNode:labels.static'] | join(',') }} \
    {%- endif %}
    {%- if config['Kubelet:arguments'] is defined %}
    {%- for argument in config['Kubelet:arguments'] %}
    {{ argument }} \
    {%- endfor %}
    {%- endif %}
    --pod-infra-container-image={{ config['Kubelet:images.pause'] }}

Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
