[Unit]
Description=Kubernetes Control Plane Bootstrapping
Documentation=https://github.com/kubernetes-incubator/bootkube

[Service]
ExecStart=/tmp/bootkube/bin/linux/bootkube start --asset-dir=/tmp/bootkube/assets/  --experimental-self-hosted-etcd --etcd-server=http://127.0.0.1:12379
Restart=on-failure

[Install]
WantedBy=multi-user.target
