release_group: null

anchor:
  dns_policy: Default
  enable_cleanup: true
  kubelet:
    manifest_path: /etc/kubernetes/manifests
  period: 15
  termination_grace_period: 3600
  files_to_copy:
    - source: /configmap/cluster-ca.pem
      dest: /etc/kubernetes/scheduler/cluster-ca.pem
    - source: /configmap/scheduler.pem
      dest: /etc/kubernetes/scheduler/scheduler.pem
    - source: /configmap/kubeconfig.yaml
      dest: /etc/kubernetes/scheduler/kubeconfig.yaml
    - source: /secret/scheduler-key.pem
      dest: /etc/kubernetes/scheduler/scheduler-key.pem
    - source: /configmap/kubernetes-scheduler.yaml
      dest: /etc/kubernetes/manifests/kubernetes-scheduler.yaml

labels:
  scheduler:
    node_selector_key: kubernetes-scheduler
    node_selector_value: enabled

pod:
  mandatory_access_control:
    type: apparmor
    scheduler:
      anchor: runtime/default
  security_context:
    scheduler:
      pod:
        runAsUser: 65534
      container:
        anchor:
          runAsUser: 0
          readOnlyRootFilesystem: true
  lifecycle:
    upgrades:
      daemonsets:
        pod_replacement_strategy: RollingUpdate
        scheduler:
          enabled: true
          min_ready_seconds: 0
          max_unavailable: 1
    termination_grace_period:
      scheduler:
        timeout: 3600
  resources:
    enabled: false
    anchor_daemonset:
      requests:
        memory: "128Mi"
        cpu: "100m"
      limits:
        memory: "1024Mi"
        cpu: "2000m"
    scheduler_pod:
      requests:
        memory: "128Mi"
        cpu: "100m"
      limits:
        memory: "1024Mi"
        cpu: "2000m"

scheduler:
  host_etc_path: /etc/kubernetes/scheduler
  logging:
    # Which messages to log.
    # Valid values include any number from 0 to 9.
    # Default 5(Trace level verbosity).
    log_level: 5

secrets:
  tls:
    ca: placeholder
    cert: placeholder
    key: placeholder

images:
  tags:
    anchor: gcr.io/google_containers/hyperkube-amd64:v1.16.2
    scheduler: gcr.io/google_containers/hyperkube-amd64:v1.16.2
  pull_policy: "IfNotPresent"

network:
  kubernetes_netloc: 10.96.0.1
  kubernetes_scheduler:
    port: 10251

service:
  name: kubernetes-scheduler

command_prefix:
  - /hyperkube
  - kube-scheduler
  - --feature-gates=TaintNodesByCondition=true
